@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --brand: #0f172a; 
  --muted: #6b7280;
  --accent: #111827;
}

.drawer {
  width: 420px;
  max-width: 40%;
}


.modal-enter {
  transform: translateX(8px);
  opacity: 0;
}
.modal-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 160ms ease-in-out;
}
.modal-leave {
  transform: translateX(0);
  opacity: 1;
}
.modal-leave-active {
  transform: translateX(8px);
  opacity: 0;
  transition: all 120ms ease-in-out;
}
